body{
    background-color: lightblue;
}
.form-group {
    display: flex;
    margin: 25px;
}
.input-align{
    margin: 10px;
}

.table{
    width: 50%;
}

.center-align{
    text-align: center;
}




