body{
    background-color: #f2f2f2;
}

.form-group {
    display: flex;
    margin: 25px;
}
.input-align{
    margin: 10px;
}

.center-align{
    text-align: center;
}

.nav li a{
    color: white;
}

.logout a {
    color: white !important;
}



