<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <h1 th:replace = "fragments :: head"></h1>
</head>
<body>
<nav th:replace="fragments :: navbar"></nav>
<div class="container">
    <form th:action="@{/monthly}" method="post" class="form-group">
         <div class="input-align">
        <label>Date
            <input type="date" th:field="${entry.date}" class="form-control" id="date-picker">
        </label>
        </div>
        <div class="input-align">
        <label>Time in Minutes
            <input type="number" step="0.01" th:field ="${entry.time}" class="form-control">
        </label>
        </div>
        <div class="input-align">
        <label>Distance
            <input type="number" step="0.01" th:field ="${entry.distance}" class="form-control">
        </label>
        </div>
        <div class="input-align">
        <label>&nbsp;
            <input type="submit" class="align-self-end btn btn-primary form-control">
        </label>
        </div>
    </form>
</div>
</body>
<script type="text/javascript" th:src="@{/script.js}"></script>
</html>
    