<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org">
<head>
    <div th:fragment = "head">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel = "stylesheet" th:href="@{/styles.css}" />
        <meta charset="UTF-8"/>
        <title>Cycling Record</title>
    </div>
</head>
<body>
    <div th:fragment = "navbar">
        <div class="navbar sticky-top navbar-dark bg-primary navbar-default">

            <ul class="nav">
                <li class="nav-item"><a class="nav-item" th:href="@{/monthly}">
                    <img th:src="logo-via-logohub.png" height="40">
                </a>
                </li>
                <li class="nav-item"><a class="nav-link" th:href="@{/monthly}">Monthly Chart</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/}">Yearly Chart</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/}">Gallery</a></li>
            </ul>
            <span class="nav-item logout"><a class="nav-link" th:href="@{/logout}">Log Out</a></span>
        </div>
    </div>

</body>
</html>