<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <h1 th:replace = "fragments :: head"></h1>
</head>
<body>
<nav th:replace="fragments :: navbar"></nav>

<h4>Upload Picture:</h4>
<form method="POST" enctype="multipart/form-data">
    <input type="file" name="image"> <br/><br/>
    <button type="submit">Submit</button>
</form>

<h2>Uploaded Files:</h2>
<ul>
    <li th:each="image : ${imageList}" >
        <img th:src="*{'data:image/png;base64,'+ imageList}" />
    </li>
</ul>

</body>
</html>