<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org">
<head>
    <h1 th:replace = "fragments :: login-head"></h1>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="205970030254-1eea40r91gs6dpdcmaql4m7kb841pi7r.apps.googleusercontent.com">
</head>

<body class="login">
<nav th:replace = "fragments :: login-navbar"></nav>
<div class="container">
<form method="post">
    <div class="form-group">
        <label th:for="username">Username
            <input class="form-control" th:field="${loginFormDTO.username}">
        </label>
        <p class="error" th:errors="${loginFormDTO.username}"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input class="form-control" th:field="${loginFormDTO.password}" type="password">
        </label>
        <p class="error" th:errors="${loginFormDTO.password}"></p>
    </div>

    <input type="submit" class="btn btn-primary" value="Log In" />
</form>

<p>Don't have an account? <a href="/register">Register for one.</a></p>
    <p>Or sign in with Google</p>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <script>function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
}</script>
</div>
</body>
</html>