<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <a th:href="@{/}">Return to Entry Form</a>
    <table >
        <tr th:each= "day : ${month}">
            <td th:text = ${day}></td>
            <th:block th:if="${entry.date.equals(day)}">
                <td th:text = ${entry.time}></td>
                <td th:text = ${entry.distance}></td>
            </th:block>
        </tr>
    </table>
</body>
</html>
    