<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <h1 th:replace = "fragments :: head"></h1>
</head>
<body>
    <a th:href="@{/}">Return to Entry Form</a>
    <table >
        <thead>
            <tr>
                <th>Date</th>
                <th>Speed</th>
                <th>Time</th>
                <th>Distance</th>
                <th>Weekly Total</th>
            </tr>
        </thead>
        <tr th:each= "entry : ${entries}">
            <td th:text = ${entry.date}></td>
            <td th:text = ${entry.speed}></td>
            <td th:text = ${entry.time}></td>
            <td th:text = ${entry.distance}></td>
            <td th:text = ${entry.totalDistance}></td>
        </tr>



    </table>
</body>
</html>
    