<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <h1 th:replace = "fragments :: head"></h1>
</head>
<body>
    <button type="button" class="btn btn-primary" onclick="window.location.href = '/';">Return to Entry Form</button>
    <table class="table table-sm table-bordered" >
        <thead class="thead-light">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Speed</th>
                <th scope="col">Time</th>
                <th scope="col">Distance</th>
                <th scope="col">Weekly Total</th>
            </tr>
        </thead>
        <tr th:each= "entry : ${entries}">
            <td th:text = ${entry.date}></td>
            <td th:text = ${entry.speed}></td>
            <td th:text = ${entry.time}></td>
            <td th:text = ${entry.distance}></td>
            <td th:text = ${entry.totalDistance}></td>
        </tr>
    </table>
</body>
</html>
    